<div class="font-sans bg-white h-screen flex flex-col w-full">
    <div class="h-screen bg-gradient-to-r from-green-400 to-blue-500">
     <div class="px-4 py-48">
      <div class="relative w-full text-center">
       <h1
        class="animate-pulse font-bold text-gray-200 text-2xl mb-6">
       Your TailwindCSS setup is working if this pulses...
       </h1>
      </div>
     </div>
    </div>
   </div>