<div class="calc-h flex flex-col items-center mx-auto pt-8 px-4">
    <div class="text-center">
        <p class="mt-1 text-4xl font-medium">
            Features
        </p>
    </div>
    <ul
        class="list-disc sm:ml-12 md:ml-0 mt-6 text-gray-600 md:leading-relaxed md:tracking-wide text-gray-500 md:list-inside list-outside">
        <li>Uses Rails, Tailwind CSS and Webpacker.</li>
        <li>Uses Stimulus and view_component to handle notifications.</li>
        <li>Uses Devise and PostgreSQL.</li>
        <li>Uses Font Awesome.</li>
    </ul>
</div>